detail.html

{% extends "base.html" %} {% block content %}
<h2>{{game}}</h2>

<!-- attacker가 로그인했을 때 -->
{% if attacker_in %}
  {% if status == 1 %}
<!-- 공격만 한 상태 -->
<div>
  <p>진행중...</p>
  <p>나 : {{game.attacker_num}}</p>
  <a href="{% url 'cardgame:delete' game.id %}">게임 취소</a>
</div>
  {% else %}
<!-- 승패 난 상태 -->
<h4>
    {% if game.rule == "BIG" %}숫자가 더 큰 사람이 대결에서 이깁니다
    {% else %}숫자가 더 작은 사람이 이깁니다{% endif %}
</h4>
<div>
  <p>나 : {{game.attacker_num}}</p>
  <p>{{game.defender}} : {{game.defender_num}}</p>
</div>
<p>결과 : {% if game.winner == game.attacker %}승리{% else %}패배{% endif %}</p>
<p>점수 : {{game.attacker.score}}점</p>
  {% endif %}
{% endif %}

<!-- defender가 로그인했을 때 -->
{% if not attacker_in %}
  {% if status == 1 %}
<!-- 공격만 한 상태 -->
<div>
  <p>진행중...</p>
  <p>상대방 : {{game.attacker_num}}</p>
</div>
  {% else %}
<!-- 승패 난 상태 -->
<h4>
    {% if game.rule == "BIG" %}숫자가 더 큰 사람이 대결에서 이깁니다
    {% else %}숫자가 더 작은 사람이 이깁니다{% endif %}
</h4>
<div>
  <p>나 : {{game.defender_num}}</p>
  <p>{{game.attacker}} : {{game.attacker_num}}</p>
</div>
<p>결과 : {% if game.winner == game.defender %}승리{% else %}패배{% endif %}</p>
<p>점수 : {{game.defender.score}}점</p>
  {% endif %}
{% endif %}
<a href="{% url 'cardgame:list' %}">전적목록</a>
{% endblock %}