{% extends "base.html" %} {% block content %}

<div class="container">
  <h1 class="form-title">Log in</h1>

  <form class="login-form" method="POST" action="{% url 'cardgame:login' %}">
    {% csrf_token %} 아이디:
    <input name="username" type="text" />
    
    비밀번호:
    <input name="password" type="password" />
    <!-- <br>
        비밀번호 확인: <br>
        <input name="password2" type="password">
        <br>
        <br><br> -->
    <input type="submit" value="Login" />
  </form>
</div>

{% endblock %}
