{% extends "base.html" %}

{% block content %}
<div>
    <a href="{% url 'main' %}"><h3>PIROGRAM CARDGAME</h3></a>
    <a href="{% url 'signup' %}"><button>회원가입</button></a>
    <a href="{% url 'login' %}"><button>로그인</button></a>
</div>

<div class="container">
    <h1>Sign up</h1>

    <form method="POST" action="{%url 'signup' %}">
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text">
        Password:
        <input name="password" type="password">
        Confirm Password:
        <input name="password2" type="password">
        <br><br>
        <input type="submit" value="sign up">
    </form>
</div>

{% endblock %}